#sidenav {
	background-color: #062135;
	grid-area: sidebar;
	height: 100%;
	overflow-x: hidden;
	padding-top: 20px;
	width: 100%;
	z-index: 1;
}

#sidenav li:not(:last-child) {
	margin-bottom: 16px;
}
