* {
	box-sizing: border-box;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61fb6e;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Page content */
.main {
	padding: 24px 16px;
	overflow-y: auto;
	background-color: #fae6d6;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	background-color: #30292f;
	border: 1px solid rgba(18, 18, 18, 0.15);
	color: #e6e9e3;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	padding: 11px 22px;
	min-width: 100px;
	text-align: center;
	transition: all 0.15s ease-in-out;
	font-weight: bold;
	font-family: monospace;
}

.button:hover {
	background-color: rgb(245, 245, 245); /*change this*/
	color: rgb(18, 18, 18);
	transition: all 0.15s ease-in-out;
}

.grid {
	display: grid;
}

#main__container {
	grid-template-areas: 'nav nav' 'sidebar main';
	grid-template-columns: 250px 1fr;
	grid-template-rows: 64px calc(100vh - 64px);
}

.card__container {
	display: inline-block;
}

.card__container:hover {
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.heading {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 60px;
}
